.navbar-brand img{
    width: 60px;
 }

 .navbar{
    background-color:#FF8C00;
 }

.offer-btn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-color: #FF8C00;
    color: #FF8C00;
}

.sign-btn {
    background-color: #FF8C00;
}

.form-signin{
      margin: 0;
      position: absolute;
      top: 45%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%)
}
