.navbar-brand img{
    width: 60px;
 }

 .navbar{
    background-color:#FF8C00;
 }

.offer-btn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-color: #FF8C00;
    color: #FF8C00;
}

.sign-btn {
    background-color: #FF8C00;
}

.sign-btn:hover {
    background-color: #FFA500;
}

.form-auth {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.card img {
    display: block;
    height: auto;
    max-width: 100%;
}

.check-btn{
     border-color: #FF8C00;
}
.check-btn.active {
     background-color: #FF8C00;
}

.check-btn:hover {
     background-color: #FF8C00;
}

.back-btn:hover {
    border-color: #FF8C00;
}