<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Card</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
<div class="container ">
    <div class="form-auth col-sm-6 col-md-6 col-lg-3">

        <div class="my-3 text-center">
            <img th:src="@{/img/logo.png}" width="120">
            <h2>Bank</h2>
            <h5>Your card has been created successfully.</h5>
        </div>

        <div class="card py-3 px-3">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="cardNumber">Card Number</label>
                    <div id="cardNumber" class="form-control" th:text="${card.cardNumber}"></div>
                </div>
                <div class="form-group col-sm-4 col-md-3 col-lg-4">
                    <label for="expiryDate">Expired date</label>
                    <div id="expiryDate" class="form-control" th:text="${card.expiryDate}"></div>
                </div>
                <div class="form-group col-sm-4 col-md-3 col-lg-4 mr-3">
                    <label for="cvv">CVC/CVV</label>
                    <div id="cvv" class="form-control" th:text="${card.cvv}"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <img th:src="@{/img/masterCard.png}" class="img-rounded">
                </div>
                <div class="form-group col-md-12">
                    <label for="cardHolderName">Card Holder Name</label>
                    <div id="cardHolderName" class="form-control" th:text="${card.cardHolderName}"></div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="mt-4">
                <a th:href="@{/}" class="btn btn-lg bank-btn" href="#">OK</a>
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>