<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>CarShop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
<div class=" container">
    <form th:action="@{http://127.0.0.1:8090/take-money}" action="#" method="POST"
          class="form-auth col-sm-6 col-md-6 col-lg-3 card py-3 needs-validation">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputCardNumber">Card Number</label>
                <input name="cardNumber" type="text" class="form-control" id="inputCardNumber"
                       placeholder="0123 4567 8901 2345" required>
            </div>
            <div class="form-group col-sm-4 col-md-3 col-lg-4">
                <label for="inputExpiredDate">Expired date</label>
                <input name="validity" type="text" class="form-control" id="inputExpiredDate" placeholder="DD/YYYY"
                       required>
            </div>
            <div class="form-group col-sm-4 col-md-3 col-lg-4 mr-3">
                <label for="inputCVV">CVC/CVV</label>
                <input name="cvv" type="password" class="form-control" id="inputCVV" placeholder="***" required>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3">
                <img th:src="@{/img/UI/card.png}" class="img-rounded">
            </div>
            <div class="form-group col-md-12">
                <label for="inputCardHolderName">Card Holder Name</label>
                <input name="cardHolderName" type="text" class="form-control" id="inputCardHolderName"
                       placeholder="FIRSTNAME LASTNAME" required>
            </div>
            <input name="money" type="text" class="sr-only" data-th-value="${price}">
        </div>
        <div class=" text-center">
            <a class="btn btn-lg btn-danger" href="#">Cancel</a>
            <button class="btn btn-lg sign-btn" type="submit">Pay now</button>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>