<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>CarShop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
<header>
    <div th:insert="~{header :: header}"></div>
</header>

<div class="container my-5" sec:authorize="isAuthenticated()">

    <div class="btn-group btn-block">
        <a th:href="@{/free-transactions}" class="btn sign-btn active" href="#">Free Transactions</a>
        <a th:href="@{/transactions-in-progress}" class="btn sign-btn" href="#">In Progress</a>
        <a th:href="@{/transaction-statistics}" class="btn sign-btn" href="#">Statistic</a>
    </div>

    <table class="table table-stripped text-center">
        <tr>
            <th>Number</th>
            <th>Date</th>
            <th>Model</th>
            <th>Price</th>
            <th>Customer</th>
            <th></th>
        </tr>
        <tr th:each="transactionInfo,iteration : ${freeTransactions}">
            <td th:text="${iteration.count}"></td>
            <td th:text="${transactionInfo.date}"></td>
            <td th:text="${transactionInfo.model}"></td>
            <td th:text="${transactionInfo.price}"></td>
            <td th:text="${transactionInfo.customer}"></td>
            <td>
                <form class="form" action="#" th:action="@{'/pick-up/{id}' (id=${transactionInfo.id})}" method="POST">
                    <button class="btn sign-btn" type="submit">Pick Up</button>
                </form>
            </td>
        </tr>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

</body>
</html>