<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CarShop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="../static/css/main.css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<header>
    <div th:insert="~{header :: header}"></div>
</header>

<div class="container my-5" sec:authorize="isAuthenticated()">

    <div class="btn-group btn-block">
        <a th:href="@{/free-transactions}" class="btn sign-btn" href="#">Free Transactions</a>
        <a th:href="@{/transactions-in-progress}" class="btn sign-btn" href="#">In Progress</a>
        <a th:href="@{/transaction-statistics}" class="btn sign-btn active" href="#">Statistics</a>
    </div>
    <div class="justify-content-center my-5" id="chartContainer"></div>
</div>

<script th:inline="javascript">
/*<![CDATA[*/
window.onload = function() {
    var chartItems1 = /*[[${chartItems1}]]*/ 'default';
    var chartItems2 = /*[[${chartItems2}]]*/ 'default';

    //  Only a test
    chartItems2.forEach(myFunction);
    function myFunction(value, index, array) {
    	console.log(value);
    }

    var chart = new CanvasJS.Chart("chartContainer", {
    	animationEnabled: false,
    	theme: "light2",
    	exportEnabled: true,
       	axisY:{
    		includeZero: true,
    		interval: 1
    	},
    	legend: {
            cursor: "pointer",
            fontSize: 20,
            itemclick: function (e) {
                //console.log("legend click: " + e.dataPointIndex);
                //console.log(e);
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }

                e.chart.render();
            }
        },
        subtitles:[{
			text: "Click on legend items to hide/unhide dataseries*",
			verticalAlign: "bottom",
		}],
    	data: [{
    	    name: "Number of applications accepted for consideration",
    		type: "spline",
    		lineColor:  "#8D29A6",
    		markerColor: "#8D29A6",
    		showInLegend: true,
    		dataPoints: []
    	},
    	{
    	    name: "Number of confirmed applications",
    		type: "spline",
    		showInLegend: true,
    		dataPoints: []
    	}]
    });

    /* Update dataPoints from AJAX and render the chart*/
    chart.options.data[0].dataPoints = chartItems1;
    chart.options.data[1].dataPoints = chartItems2;
    chart.render();

}
/*]]>*/


</script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>